* {
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

* body {
    margin: 0;
    padding: 0;
    background-color: #151515;
}

.judul {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-transform: capitalize;
    padding: 15px;
    color: #fff;
    text-shadow: 0 0 10px #ff0000;
    margin-left: 5%;
    margin-top: 10px;

}

.nama1 {
    color: #ffffff;
    font-weight: 700;
}

.nama2 {
    color: crimson;
    padding-left: 4px;
    font-weight: 500;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

.kanan {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    margin-top: 10px;
}

.kanan ul li {
    list-style-type: none;
    margin-right: 1px;
}

.aktif li a {
    text-decoration: none;
    color: crimson !important;
}

.kanan ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 0 20px;
    font-weight: 550;
    color: #fff;
    text-shadow: 0 0 10px #ff0000;
    transition: .4s ease-in-out;
}

.kanan ul li a:hover {
    text-decoration: none;
    color: crimson;
    padding: 10px;
}

.pilihan {
    display: flex;
    justify-content: space-between;
    padding-left: 25%;
    padding-right: 25%;
}

.pilihan ul li {
    list-style-type: none;
}

.pilihan ul li a {
    color: white;
    text-shadow: 0 0 10px white;
    letter-spacing: 3px;
    font-weight: 300;
    text-decoration: none;
    transition: .4s ease-in-out;
}

.pilihan ul li a:hover {
    color: #ff0000;
    text-shadow: 0 0 10px #ff0000;
    text-decoration: none;
}

.service {
    color: white;
    margin: 3% 5% 7% 5%;
}

.main-text {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.main-text h2{
    font-weight: 700;
    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
    color: crimson;
    text-shadow: 0 0 10px #ff0000;
}

.main-text span {
    color: #fdfdfd;
    font-size: .8rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #fdfdfd;
}

.sections-service {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 2rem;
}

.service-box {
    flex: 1 1 18rem;
    padding: 2rem 1rem 2rem;
    text-align: center;
    background: #3C3D37;
    transition: transfrom .4s;
    border-radius: 10px;
    box-shadow: 0 0 10px #ff0000;
    transition: .4s ease-in-out;
}

.service-box:hover {
    transform: translateY(-.7rem);
    background: crimson;
    transition: .4s ease-in-out;
}

.service-icon {
    border: 2px solid crimson;
    padding: 1rem;
    background: #151515;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 50%;
    position: relative;
    color: crimson;
    box-shadow: #ff0000;
    outline: 3px solid var(--bg-color);
}

.service-box h3 {
    margin-top: 10px;
    font-size: 1.3rem;
    text-shadow: 0 0 5px white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.service-box p {
    text-align: left;
    margin: .5rem 0 1.5rem 0;
    font-weight: 400;
    letter-spacing: 1px;
    color: #bdbdbd;
    line-height: 1.6;
}

.main-text2 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.main-text2 span {
    color: #fdfdfd;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #fdfdfd;
}

main ul li {
    color: #bdbdbd;
    font-size: 0.9rem;
    margin-left: 7%;
    margin-right: 10%;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 1px;
}

.main-text3 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.main-text3 h2{
    font-weight: 700;
    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
    color: crimson;
    text-shadow: 0 0 10px #ff0000;
}

.kesimpulan {
    text-align: center;
}

.kesimpulan p {
    color: #bdbdbd;
    margin-left: 7%;
    margin-right: 10%;
    font-size: 1.1rem;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 1px;
}
