* {
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
* body {
    margin: 0;
    padding: 0;
    background-color: #151515;
}

.judul {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-transform: capitalize;
    padding: 15px;
    color: #fff;
    text-shadow: 0 0 10px #ff0000;
    margin-left: 5%;
    margin-top: 10px;

}

.nama1 {
    color: #ffffff;
    font-weight: 700;
}

.nama2 {
    color: crimson;
    padding-left: 4px;
    font-weight: 500;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

.kanan {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    margin-top: 10px;
}

.kanan ul li {
    list-style-type: none;
    display: flex;
    margin-right: 1px;
}

.aktif li a {
    text-decoration: none;
    color: crimson !important;
}

.kanan ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 0 20px;
    font-weight: 550;
    color: #fff;
    text-shadow: 0 0 10px #ff0000;
    transition: .3s;
}

.kanan ul li a:hover {
    text-decoration: none;
    color: crimson;
    padding: 10px;
}

.sections-service {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 2rem;
    margin-top: 7%;
}

.sections-service .service-box {
    flex: 1 1 18rem;
    padding: 2rem 1rem 2rem;
    text-align: center;
    background: #3C3D37;
    transition: transfrom .4s;
    border-radius: 10px;
    box-shadow: 0 0 10px #ff0000;
    transition: .4s ease-in-out;
}

.service-box:hover {
    transform: translateY(-.7rem);
    background: crimson;
    transition: .4s ease-in-out;
}

.service-icon {
    border: 2px solid crimson;
    padding: 1rem;
    background: #151515;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 50%;
    position: relative;
    color: crimson;
    box-shadow: #ff0000;
    outline: 3px solid var(--bg-color);
}

.service-box h3 {
    color:#fff;
    margin-top: 10px;
    font-size: 1.3rem;
    text-shadow: 0 0 5px white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.service-box a img {
    width: 17rem;
}

